@using MallMinder.Data
@using MallMinder.Models
@inject AppDbContext _context

@{
    int mallId = ViewBag.MallId;
    var floors = _context.Floor.Where(f => f.MallId == mallId).ToList();
    var Rooms = _context.Room
    .Where(r => _context.Floor.Any(f => f.Id == r.FloorId && f.MallId == mallId))
    .Where(r => r.Status == "free").ToList();

    var roomTypes = _context.RentType.ToList();
}


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rent</h4>
            <form class="form-sample">
                <p class="card-description"> info </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Payment Duration</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Free Room</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    @foreach (var room in Rooms)
                                    {
                                        var floor = _context.Floor.FirstOrDefault(f => f.Id == room.FloorId);

                                        if (floor != null)
                                        {
                                            <option value="@room.Id">@room.RoomNumber - @floor.FloorNumber</option>
                                        }
                                        else
                                        {
                                            <option value="@room.Id">@room.RoomNumber - Floor Not Found</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Rental Date</label>
                            <div class="col-sm-9">
                                <input class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                    </div>
                </div>

                <p class="card-description">Choose Rental type </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="ExampleRadio1" id="ExampleRadio1"
                                    checked=""> Shops and Stores <i class="input-helper"></i></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="ExampleRadio1" id="ExampleRadio1"
                                    checked=""> Food and Drink <i class="input-helper"></i></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <select class="form-control">
                                    @foreach (var roomType in roomTypes)
                                    {
                                        if (roomType.Tag == "Shops and Stores")
                                        {
                                            <option value="@roomType.Id">@roomType.Type</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <select class="form-control">
                                    @foreach (var roomType in roomTypes)
                                    {
                                        if (roomType.Tag == "Food and Drink")
                                        {
                                            <option value="@roomType.Id">@roomType.Type</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="ExampleRadio1" id="ExampleRadio1"
                                    checked=""> Services<i class="input-helper"></i></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="ExampleRadio1" id="ExampleRadio1"
                                    checked=""> Entertainment<i class="input-helper"></i></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <select class="form-control">
                                    @foreach (var roomType in roomTypes)
                                    {
                                        if (roomType.Tag == "Services")
                                        {
                                            <option value="@roomType.Id">@roomType.Type</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <select class="form-control">
                                    @foreach (var roomType in roomTypes)
                                    {
                                        if (roomType.Tag == "Entertainment")
                                        {
                                            <option value="@roomType.Id">@roomType.Type</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="ExampleRadio1" id="ExampleRadio1"
                                    checked=""> Other<i class="input-helper"></i></label>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <input type="" class="form-control" id="" placeholder="other">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary btn-rounded btn-fw">Submit</button>
                                <button type="button" class="btn btn-rounded btn-outline-light btn-fw">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>