@using MallMinder.Data
@using MallMinder.Models
@using MallMinder.Models.ViewModels
@model MallMinder.Models.ViewModels.RentVM
@inject AppDbContext _context

@{
    int mallId = ViewBag.MallId;
    var floors = _context.Floor.Where(f => f.MallId == mallId).ToList();
    var Rooms = _context.Room
    .Where(r => _context.Floor.Any(f => f.Id == r.FloorId && f.MallId == mallId))
    .Where(r => r.Status == "free").ToList();
    var roomTypes = _context.RentType.ToList();
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rent</h4>
            <form class="form-sample" method="Post" asp-action="Index" asp-controller="Rent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">User Name</label>
                            <div class="col-sm-9">
                                <input asp-for="TenantUserName" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Payment Duration</label>
                            <div class="col-sm-7">
                                <input asp-for="PaymentDuration" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Free Room</label>
                            <div class="col-sm-9">
                                <select asp-for="RoomId" class="form-control" id="freeRoomDropdown">
                                    @foreach (var room in Rooms)
                                    {
                                        var floor = _context.Floor.FirstOrDefault(f => f.Id == room.FloorId);

                                        if (floor != null)
                                        {
                                            <option value="@room.Id">@room.RoomNumber - @floor.FloorNumber</option>
                                        }
                                        else
                                        {
                                            <option value="@room.Id">@room.RoomNumber - Floor Not Found</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Rental Date</label>
                            <div class="col-sm-9">
                                <input asp-for="RentalDate" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-description">Choose Rental type </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="col-sm-3 col-form-label" for="">Rent Type</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="TypeId" class="form-control rental-type-dropdown"
                                    id="shopsStoresDropdown">
                                    @foreach (var roomType in roomTypes)
                                    {
                                        <option value="@roomType.Id">@roomType.Type</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check form-check-primary">
                            <label class="col-sm-3 col-form-label" for="">Other</label>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Other" type="text" class="form-control" id="otherRentType"
                                    placeholder="Other">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-rounded btn-fw">Submit</button>
                                <button class="btn btn-rounded btn-outline-light btn-fw">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
