@model MallMaster.Models.ViewModels.ProfileVM

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px; background-color: #93e2bb;">
            <div class="card-body p-4 text-black">
                <div>
                    <h6 class="mb-4">@Model.MallName</h6>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <div class="flex-shrink-0">
                        <img src="@Model.ImageUrl" alt="Generic placeholder image"
                            class="img-fluid rounded-circle border border-dark border-3" style="width: 70px;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <div class="d-flex flex-row align-items-center mb-2">
                            <p class="mb-0 me-2"></p>
                            <ul class="mb-0 list-unstyled d-flex flex-row" style="color: #1B7B2C;">
                                <li>
                                    <i class="fas fa-star fa-xs"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-xs"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-xs"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-xs"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-xs"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-2">
                            <h6 class="">@Model.FirstName @Model.LastName</h6>
                            <p class="">@Model.Email</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <ion-icon class="mt-4" name="call-outline"></ion-icon>
                    </div>
                    <div class="col-md-10">
                        <p class="my-4 pb-1">@Model.PhoneNumber</p>
                    </div>
                </div>
                <a asp-action="ChangeProfile" asp-controller="Account" type="button" data-mdb-button-init
                    data-mdb-ripple-init class="btn btn-success btn-rounded btn-block btn-lg"><i
                        class="far fa-clock me-2"></i>Change
                    Profile</a>
            </div>
        </div>
    </div>
</div>
