<link rel="stylesheet" type="text/css" href="/css/datatables.css">
<link rel="stylesheet" type="text/css" href="/css/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="/css/demo.css">
<link href="/plugins/select2-2/select2.min_2.css" rel="stylesheet" />
<link href="/plugins/select2-2/select2.min.css" rel="stylesheet" />

<div class="row">
    <div class="grid-margin stretch-card">
        <div class="card">
            <div class="mb-2 mt-4 ml-4">
                <h3>Payment</h3>
            </div>
            <table id="dt-table" class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-dark">#NO</th>
                        <th class="text-dark">Tenant Name</th>
                        <th class="text-dark">Phone Number</th>
                        <th class="text-dark">RoomNumber</th>
                        <th class="text-dark">Payment Date</th>
                        <th class="text-dark">Payment </th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        var i = 0;
                        int previousId = 0;
                    }
                    @foreach (var item in ViewBag.PendingPayments)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Room</td>
                            <td>@item.PaymentDate</td>
                            @if (previousId != item.TenantId)
                            {
                                <td>
                                    <a asp-route-id="@item.TenantId"
                                        asp-route-paymentDate="@item.PaymentDate.ToString("yyyy-MM-dd")" asp-action="Pay"
                                        asp-controller="Payment" type="button" class="btn btn-outline-info btn-icon-text">
                                        pay<ion-icon class="text-info" name="create-outline"></ion-icon>
                                    </a>
                                </td>
                                previousId = item.TenantId;
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>#NO</th>
                        <th>Tenant Name</th>
                        <th>Phone Number</th>
                        <th>RoomNumber</th>
                        <th>Payment Date</th>
                        <th>Payment Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/datatables.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/buttons.html5.min.js"></script>
    <script src="/js/buttons.print.min.js"></script>
    <script src="/js/custom_miscellaneous.js"></script>
    <script>
        $(document).ready(function () {
            $('#dt-table tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            });

            var table = $('#dt-table').DataTable({
                dom: "<'dt--top-section'<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'B><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f>>" +
                    "<'table-responsive'tr>" +
                    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
                buttons: [
                    { extend: 'excel', className: 'btn btn-outline-light ' },
                    { extend: 'print', className: 'btn btn-outline-light ' }
                ],
                oLanguage: {
                    oPaginate: {
                        sPrevious: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                        sNext: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
                    },
                    sInfo: "Showing page _PAGE_ of _PAGES_",
                    sSearch: '<circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    sSearchPlaceholder: "Search...",
                    sLengthMenu: "Results : _MENU_"
                },
                stripeClasses: [],
                lengthMenu: [7, 10, 20, 50],
                pageLength: 7
            });

            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });
        });
    </script>
    <script src="/plugins/select2-2/select2.min_2.js"></script>
    <script src="/plugins/select2-2/select2.min.js"></script>
    <script>
        $(".selection").select2();
    </script>
    <script>
        // Remove success message after 2 minutes or when new data is input
        $(document).ready(function () {
            setTimeout(function () {
                $('#successMessage').fadeOut('slow', function () {
                    $(this).remove();
                });
            }, 900); // 2 minutes
        });

        // Optionally, you can also remove the message when new data is input
        // Example: when the form is submitted
        $('form').submit(function () {
            $('#successMessage').remove();
        });
    </script>
}
