<link rel="stylesheet" type="text/css" href="/css/datatables.css">
<link rel="stylesheet" type="text/css" href="/css/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="/css/demo.css">


@{
    var maintenanceDataComplitedJson = ViewBag.MaintenanceDataComplitedJson as string;
    var maintenanceDataComplited =
    Newtonsoft.Json.JsonConvert.DeserializeObject<List<dynamic>>(maintenanceDataComplitedJson);
}
@{
    var fromDateDefault = new DateTime(DateTime.Now.Year, 1, 1).ToString("yyyy-MM-dd");
    var toDateDefault = DateTime.Now.ToString("yyyy-MM-dd");
}


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Complited Maintenance </h4>
            <form asp-action="CompletedMaintenance" asp-controller="Analytics">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">From Date</label>
                            <div class="col-sm-9">
                                <input name="FromDate" type="date" class="form-control" data-val="true"
                                    data-val-required="The FromDate field is required." id="FromDate"
                                    value="@fromDateDefault">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">To Date</label>
                            <div class="col-sm-9">
                                <input name="ToDate" type="date" class="form-control" data-val="true"
                                    data-val-required="The ToDate field is required." id="ToDate"
                                    value="@toDateDefault">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="badge badge-danger">Search</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table id="dt-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>no</th>
                            <th>Name</th>
                            <th>Requested </th>
                            <th>Completed </th>
                            <th>Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < maintenanceDataComplited.Count; i++)
                        {
                            <tr>
                                <th>@(i + 1)</th>
                                <td>@maintenanceDataComplited[i].TenantName</td>
                                <td>@(maintenanceDataComplited[i].RequestedDate != null ?
                                        maintenanceDataComplited[i].RequestedDate.ToString("yyyy-MM-dd") : "")</td>
                                <td>@(maintenanceDataComplited[i].CompletedDate != null ?
                                        maintenanceDataComplited[i].CompletedDate.ToString("yyyy-MM-dd") : "")</td>
                                <td>@maintenanceDataComplited[i].MaintenanceType</td>
                                <td>
                                    @if (maintenanceDataComplited[i].TenantStatus.ToString().Trim() == "Declined")
                                    {
                                        <div class="badge badge-outline-warning">Declined</div>
                                    }
                                    else
                                    {
                                        <div class="badge badge-outline-success">Done</div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Rank</th>
                            <th>Client Name</th>
                            <th>Requested Date</th>
                            <th>Completed Date</th>
                            <th>Type</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


</div>
<style>
    .table>tbody>tr>td {
        color: #fff;
    }
</style>

@section scripts {
    <script src="/js/datatables.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/js/buttons.html5.min.js"></script>
    <script src="/js/buttons.print.min.js"></script>
    <script src="/js/custom_miscellaneous.js"></script>
    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#dt-table').DataTable({
                dom: "<'dt--top-section'<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'B><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f>>" +
                    "<'table-responsive'tr>" +
                    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
                buttons: [
                    { extend: 'excel', className: 'btn btn-outline-light' },
                    { extend: 'print', className: 'btn btn-outline-light' }
                ],
                oLanguage: {
                    oPaginate: {
                        sPrevious: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                        sNext: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
                    },
                    sInfo: "Showing page _PAGE_ of _PAGES_",
                    sSearch: '<circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    sSearchPlaceholder: "Search...",
                    sLengthMenu: "Results : _MENU_"
                },
                stripeClasses: [],
                lengthMenu: [7, 10, 20, 50],
                pageLength: 7,
                columnDefs: [
                    { targets: [3], searchable: false } // Disable search on the 4th column (Price Per Care)
                ]
            });
            // Add search inputs for all columns except "Price Per Care"
            $('#dt-table tfoot th').not(':eq(3)').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            });
            // Apply individual column search functionality
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
                // Set roomIdToDelete when delete modal is shown
                $('#deleteModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget); // Button that triggered the modal
                    var roomId = button.data('room-id'); // Extract info from data-* attributes
                    var modal = $(this);
                    modal.find('#roomIdToDelete').val(roomId);
                });
            });
        });
    </script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

}
