@using MallMinder.Data
@using MallMinder.Models;
@model List<MallMinder.Models.Room>
@inject AppDbContext _context
@{
    ViewData["Title"] = "room Page";
    @* Layout = null; *@
}
@{
    int mallId = ViewBag.MallId;
    var floors = _context.Floor.Where(f => f.MallId == mallId).ToList();
}
<div class="row">
    <div class="col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rooms Table</h4>
                @* <p class="card-description"> Add class <code>.table</code> *@
                </p>
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-7 form-group row">
                            <label class="col-sm-3 col-form-label">floor</label>
                            <select class=" col-sm-3 form-control">
                                @foreach (var floor in floors)
                                {
                                    <option value="@floor.Id">@floor.FloorNumber</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5 form-group">
                            <form method="get" class="input-group" asp-action="Index" asp-controller="Room">
                                <input type="text" class="form-control" placeholder="Search Room No" id="searchInput"
                                    aria-label="Search Room No" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-primary" type="submit"
                                        id="searchButton">Search</button>
                                </div>
                            </form>

                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Room No</th>
                                <th> Floor </th>
                                <th> Care </th>
                                <th> Price Per Care</th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var room in Model)
                            {
                                var floor = _context.Floor.FirstOrDefault(f => f.Id == room.FloorId);
                                <tr>
                                    <td>@room.RoomNumber</td>
                                    <td>@(floor != null ? floor.FloorNumber : "")</td>
                                    <td>@room.Care</td>
                                    <td>
                                        <div class="form-check form-switch" style="margin-left: 30px;">
                                            <input class="form-check-input text-warning" type="checkbox"
                                                id="priceCheckbox-@room.Id" @(room.PricePercareFlag ? "checked" : "")>
                                        </div>
                                    </td>
                                    <td>
                                        @if (room.Status == "Free")
                                        {
                                            <label class="badge badge-danger">@room.Status</label>
                                        }
                                        else if (room.Status == "Occupied")
                                        {
                                            <label class="badge badge-success">@room.Status</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-info">@room.Status</label>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 card">
        <div class="card-body">
            <h4 class="card-title custom-margin-bottom-40">Add Room Price</h4>

            <div class="dropdown custom-margin-bottom-20 ">
                <div>
                    <p class="text-info">Room Number</p>
                </div>
                <div class="number-selector mb-4 mr-sm-2">

                    <button id="decrease-btn" class="badge badge-info select_button">-</button>
                    <input class="select_input form-control " type="number" id="number-input" value="0"
                        placeholder="Room No">

                    <button class="badge badge-info select_button " id="increase-btn">+</button>
                </div>
                <div>
                    <p class="text-info">Floor Number</p>
                </div>
                <select class="form-control">
                    @foreach (var floor in floors)
                    {
                        <option value="@floor.Id">@floor.FloorNumber</option>
                    }
                </select>
                <div class="mt-2">
                    <p class="text-danger">Price</p>
                </div>
                <div class="">
                    <input class="select_input form-control " type="text" id="number-input" value="0"
                        placeholder="Price">
                </div>
                <div class="mt-4"><label class="badge badge-danger">Submit</label></div>
            </div>
        </div>
    </div>
</div>
