@using MallMinder.Data
@using MallMinder.Models;
@inject AppDbContext _context

<link rel="stylesheet" type="text/css" href="/css/datatables.css">
<link rel="stylesheet" type="text/css" href="/css/dt-global_style.css">
<link rel="stylesheet" type="text/css" href="/css/demo.css">
@{
    ViewData["Title"] = "Room list";
    int mallId = ViewBag.MallId != null ? (int)ViewBag.MallId : 0;
    var rooms = mallId > 0
    ? _context.Rooms.Where(r => _context.Floors.Any(f => f.Id == r.FloorId && f.MallId == mallId) && r.IsActive ==
    true).ToList()
    : new List<Room>();

    var floors = mallId > 0 ? _context.Floors.Where(f => f.MallId == mallId).ToList() : new List<Floor>();
}
@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Rooms Table</h4>
                <div class="table-responsive">
                    <table id="dt-table" class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-dark">Room No</th>
                                <th class="text-dark">Floor</th>
                                <th class="text-dark">Care</th>
                                <th class="text-dark">Price Per Care</th>
                                <th class="text-dark">Status</th>
                                <th class="text-dark">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var room in rooms)
                            {
                                var floor = _context.Floors.FirstOrDefault(f => f.Id == room.FloorId);
                                <tr>
                                    <td>@room.RoomNumber</td>
                                    <td>@(floor != null ? floor.FloorNumber : "")</td>
                                    <td>@room.Care</td>
                                    <td>
                                        <div class="form-check form-switch" style="margin-left: 30px;">
                                            <input class="form-check-input text-warning" type="checkbox"
                                                id="priceCheckbox-@room.Id" @(room.PricePercareFlag ? "checked" : "")>
                                        </div>
                                    </td>
                                    <td>
                                        @if (room.Status == "Free")
                                        {
                                            <label class="badge badge-danger">@room.Status</label>
                                        }
                                        else if (room.Status == "Occupied")
                                        {
                                            <label class="badge badge-success">@room.Status</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-info">@room.Status</label>
                                        }
                                    </td>
                                    <td class="text-end">
                                        <!-- Trigger modal -->
                                        <a data-bs-toggle="modal" data-bs-target="#editModal-@room.Id">
                                            <ion-icon name="create-outline"></ion-icon>
                                        </a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                            data-room-id="@room.Id">
                                            <ion-icon name="trash-outline"></ion-icon>
                                        </a>
                                    </td>
                                </tr>
                                <!-- Modal Structure -->
                                <div class="modal fade card card-body" id="editModal-@room.Id" tabindex="-1"
                                    aria-labelledby="editModalLabel-@room.Id" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel-@room.Id">Edit Room Details</h5>
                                                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                                                    <ion-icon name="close-outline"></ion-icon>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="forms-sample" method="post" asp-action="EditRoom"
                                                    asp-controller="Room">
                                                    <input type="hidden" name="Id" value="@room.Id" />
                                                    <div class="form-group">
                                                        <select name="FloorId" class="form-control">
                                                            <option value="@room.Floor.Id">@room.Floor.FloorNumber</option>
                                                            @foreach (var floor in floors)
                                                            {
                                                                <option value="@floor.Id">@floor.FloorNumber
                                                                </option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Care</label>
                                                        <input name="Care" type="text" class="form-control" id="Care"
                                                            placeholder="Care" value="@room.Care">
                                                    </div>
                                                    <div class="form-group ">
                                                        <label class=" col-form-label">Description</label>
                                                        <div>
                                                            <textarea name="Description" rows="4" class="form-control"
                                                                id="Description">@room.Description</textarea>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-info mr-2">Save changes</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Room No</th>
                                <th>Floor</th>
                                <th>Care</th>
                                <th></th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this room?
            </div>
            <div class="modal-footer">
                <form method="post" id="deleteRoomForm" asp-action="DeleteRoom" asp-controller="Room">
                    <input type="hidden" name="Id" id="roomIdToDelete" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="/js/datatables.js"></script>
    <script src="/js/dataTables.buttons.min.js"></script>
    <script src="/js/jszip.min.js"></script>
    <script src="/js/buttons.html5.min.js"></script>
    <script src="/js/buttons.print.min.js"></script>
    <script src="/js/custom_miscellaneous.js"></script>
    <script>
        $(document).ready(function () {
            // Initialize DataTable
            var table = $('#dt-table').DataTable({
                dom: "<'dt--top-section'<'row'<'col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center'B><'col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3'f>>" +
                    "<'table-responsive'tr>" +
                    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
                buttons: [
                    { extend: 'excel', className: 'btn btn-outline-light' },
                    { extend: 'print', className: 'btn btn-outline-light' }
                ],
                oLanguage: {
                    oPaginate: {
                        sPrevious: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                        sNext: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
                    },
                    sInfo: "Showing page _PAGE_ of _PAGES_",
                    sSearch: '<circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    sSearchPlaceholder: "Search...",
                    sLengthMenu: "Results : _MENU_"
                },
                stripeClasses: [],
                lengthMenu: [7, 10, 20, 50],
                pageLength: 7,
                columnDefs: [
                    { targets: [3], searchable: false } // Disable search on the 4th column (Price Per Care)
                ]
            });
            // Add search inputs for all columns except "Price Per Care"
            $('#dt-table tfoot th').not(':eq(3)').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
            });
            // Apply individual column search functionality
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
                // Set roomIdToDelete when delete modal is shown
                $('#deleteModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget); // Button that triggered the modal
                    var roomId = button.data('room-id'); // Extract info from data-* attributes
                    var modal = $(this);
                    modal.find('#roomIdToDelete').val(roomId);
                });
            });
        });
    </script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

}
